<!DOCTYPE html>
<html lang="en" ng-app="webuycarsApp">
<head>
    {% include 'WbcStaticBundle:partials:google-tag-manager-head.html.twig' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="KM-JSTWoHF_XYgRKptkJZ-NJ4O3N1wPBB9jHX8WI-g8" />
    <meta name="facebook-domain-verification" content="wnjx11tie69ninjvf6et1j8efmyn5p" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon.ico/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicon.ico/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon.ico/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon.ico/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon.ico/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon.ico/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon.ico/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon.ico/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon.ico/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/favicon.ico/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon.ico/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon.ico/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon.ico/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/favicon.ico/manifest.json') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.7.8/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.1/angular-block-ui.min.js" integrity="sha512-BtmFfLX4GDXx/BORg3Og/jeW93uBPBxmt8gFYHCC4RqvxxAQIQWSHHMWauXZ21YzKJUWjt6mtJ6e/8E808Becw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toarrayfilter/1.0.3/toArrayFilter.min.js" integrity="sha512-NQtYf59i2deooceVdYJ5b5RJnSWJMAbM+NhTXNOzU2WgwZtf1X0+r7VaLGLkM1ijKC0lvdYjIG+LN8+Wbzr9sA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js" integrity="sha512-kPuyJOFpwcTSatVXfODhoK9TgOt7V7HdKAPYTmrtgMitwCpv512AlNoFmA5jxvNFQBqC1KvTyvrVdy+hubRYPg==" crossorigin="anonymous"></script>
    {% block seoHead %}
        {% block title %}<title>Want to Sell a Car in Dubai? Sell Any Car To Us Instantly - No Fees</title>{% endblock %}
        {% block meta %}
            <meta name="description"
                  content="Want to sell your car in Dubai? We are happy to help you sell your car at no extra fees.
            Sell your car for instant cash. Sell Any Car to us now.">
            <meta name="keywords"
                  content="Sell Your Car Online, Buy and Sell Cars in Dubai, Sell Your Car UAE, Sell Used Car, Sell My Car, Sell Car Dubai, Sell Your Car Dubai, Sell My Car Dubai, Sell Any Car Dubai, Sell Used Car Dubai, Sell My Car UAE">
        {% endblock %}
    {% endblock %}
    <base href="{{ path('wbc_static_default_index') }}">
    {% block stylesheets %}
        {% stylesheets filter='scssphp' output='css/app.css'
            'assets/scss/app.scss'
        %}
            <link rel="stylesheet" href="assets/scss/menu.css"/>
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block links %}
        {% if app.request.pathInfo == '/how-to-sell-my-car-in-dubai' %}
            <link rel="canonical" href="{{ app.request.schemeAndHttpHost }}">
        {% elseif app.request.get('_route') == 'wbc_static_default_index'
            or app.request.get('_route') == 'wbc_static_default_contact_us'
            or app.request.get('_route') == 'wbc_static_default_article' %}
            <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
        {% endif %}
    {% endblock %}
    {% block extraJs %}{% endblock %}
</head>
<body>
{% include 'WbcStaticBundle:partials:google-tag-manager-body.html.twig' %}
{% block navigation %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                {#Desktop Menu#}
                <div class="col-md-12 hidden-xs hidden-sm">
                    <div class="col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-3">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('wbc_static_default_index') }}">
                                <img class="img-responsive" onerror="this.src='{{ asset('images/webuycarsdxb-logo.png') }}'" alt="{{ site_title }}" src="{{ asset('images/webuycarsdxb-logo.svg') }}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1 hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-collapse collapse col-md-12">
                            <ul class="nav navbar-nav list-unstyled">
                                {% for key, value in site_menu %}
                                    <li>
                                        <a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="navbar-steps-container" class="col-md-5 col-xs-12">
                        <div class="h2">We buy any car in 30 min!</div>
                    </div>
                    <div id="navbar-phone-container" class="col-md-3 col-md-pull-0 col-xs-pull-9 text-right">
                        {% if craue_setting('phoneNumber1') is not null and craue_setting('phoneNumber1') != '' %}
                            <a href="tel: {{ craue_setting('phoneNumber1') }}">
                                <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                                &nbsp;<span>{{ craue_setting('phoneNumber1') }}</span>
                            </a>
                        {% endif %}
                        {% if craue_setting('phoneNumber2') is not null and craue_setting('phoneNumber2') != '' %}
                            <br/><a href="tel: {{ craue_setting('phoneNumber2') }}">
                            <span>{{ craue_setting('phoneNumber2') }}</span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-1 hidden-xs hidden-sm">
                        <a href="#menu" id="toggle"><span></span></a>
                        <div id="menu">
                            <ul >
                                {% for key, value in site_menu %}
                                    <li>
                                        <a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {#Mobile Menu#}
                <div class="col-md-12 hidden-md hidden-lg">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
                            <div class="navbar-header">
                                <a class="navbar-brand mobile" href="{{ path('wbc_static_default_index') }}">
                                    <img class="img-responsive" alt="{{ site_title }}"
                                         onerror="this.src='{{ asset('images/webuycarsdxb-logo.png') }}'"
                                         src="{{ asset('images/webuycarsdxb-logo.svg') }}">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="second-row-container" class="row">
                        <div id="navbar-phone-container" class="col-xs-9 text-left">
                            {% if craue_setting('phoneNumber1') is not null and craue_setting('phoneNumber1') != '' %}
                                <a href="tel: {{ craue_setting('phoneNumber1') }}">
                                    <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                                    &nbsp;<span>{{ craue_setting('phoneNumber1') }}</span>
                                </a>
                            {% endif %}
                            {% if craue_setting('phoneNumber2') is not null and craue_setting('phoneNumber2') != '' %}
                                /<a href="tel: {{ craue_setting('phoneNumber2') }}">
                                <span>{{ craue_setting('phoneNumber2') }}</span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-xs-3 text-right">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse col-md-12">
                                <ul class="nav navbar-nav list-unstyled">
                                    {% for key, value in site_menu %}
                                        <li>
                                            <a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
{% endblock %}
{% if app.session.flashbag.peekAll|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for type, flash_messages in app.session.flashBag.all %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>

                        {% for flash_message in flash_messages %}
                            <div class="flash-{{ type }}">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block loader %}<wbc-loading visibility="hidden"></wbc-loading>{% endblock %}
{% block footer %}
    <footer>
        <div class="container-fluid">
            <div id="footer-menu-container" class="row">
                <div id="footer-menu" class="col-md-6">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="list-unstyled">
                                {% for key, value in site_menu %}
                                    <li><a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="footer-contact" class="col-md-6 col-xs-12 text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                            <div class="thumbnail">
                                <img class="img-responsive" onerror="this.src='{{ asset('images/webuycarsdxb-logo.png') }}'" src="{{ asset('images/webuycarsdxb-logo.svg') }}" alt="{{ site_title }}">

                                <div class="caption">
                                    <h2 class="text-left">Headquarters</h2>

                                    <p class="text-left">
                                        {{ company_name }}<br>
                                        {{ company_office_number }},&nbsp;{{ company_office_building }},&nbsp;{{ company_office_street }}<br>
                                        PO Box: {{ company_po_box }} Dubai<br>
                                        Tel: {{ company_office_phone }}
                                    </p>

                                    {% if getBranches()|length %}
                                        <h2 class="text-left">Inspection Branch</h2>
                                        {% for branch in getBranches() %}
                                            <p class="text-left">
                                                {{ branch.name }}<br>
                                                {{ branch.address|nl2br }}<br>
                                                Tel: {{ branch.phoneNumber }}
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-strip" class="container-fluid bg-grey">
            <div class="row">
                <div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-2">
                    <ul class="list-inline list-unstyled">
                        {% if site_facebook is defined and site_facebook is not null %}
                            <li><a target="_blank" href="{{ site_facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_twitter is defined and site_twitter is not null %}
                            <li><a target="_blank" href="{{ site_twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_instagram is defined and site_instagram is not null %}
                            <li><a target="_blank" href="{{ site_instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_linkedin is defined and site_linkedin is not null %}
                            <li><a target="_blank" href="{{ site_linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        {% endif %}

                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h4 class="text-right"><i class="fa fa-copyright" aria-hidden="true"></i> {{ "now"|date("Y") }} {{ company_name }}</h4>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {% javascripts filter='?jsqueeze' output='js/app-v1.js'
        'assets/vendor/@bower_components/ngmap/build/scripts/ng-map.js'
        'assets/js/angular/valuation/controllers.controller.js'

    %}
        <script src="{{ asset_url }}"></script>
        <script>
            var theToggle = document.getElementById('toggle');


            // hasClass
            function hasClass(elem, className) {
                return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
            }
            // addClass
            function addClass(elem, className) {
                if (!hasClass(elem, className)) {
                    elem.className += ' ' + className;
                }
            }
            // removeClass
            function removeClass(elem, className) {
                var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
                if (hasClass(elem, className)) {
                    while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
                        newClass = newClass.replace(' ' + className + ' ', ' ');
                    }
                    elem.className = newClass.replace(/^\s+|\s+$/g, '');
                }
            }
            // toggleClass
            function toggleClass(elem, className) {
                var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
                if (hasClass(elem, className)) {
                    while (newClass.indexOf(" " + className + " ") >= 0 ) {
                        newClass = newClass.replace( " " + className + " " , " " );
                    }
                    elem.className = newClass.replace(/^\s+|\s+$/g, '');
                } else {
                    elem.className += ' ' + className;
                }
            }

            theToggle.onclick = function() {
                toggleClass(this, 'on');
                return false;
            }
        </script>

    {% endjavascripts %}
{% endblock %}
</body>


</html>
