{% extends '@WbcStatic/Default/base.html.twig' %}

{% block title %}<title>Want To Get in Touch With {{ site_title }}?</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="We would love to hear from you. Please feel free to contact us here. Looking forward to be in touch.">
{% endblock %}

{% block body %}
    {{ parent() }}
    <article>
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1>Get in Touch with We Buy Cars DXB</h1>
                        <p> If you are a car owner and want to sell your car, if you have any inquiries, or for business
                            needs. Never hesitate to contact us and get to know about our services. We are happy to
                            answer all your questions and talk to you. </p>
                        <p>We have built a solid reputation among thousands of customers throughout our long years of
                            experience.</p>
                        <p>Our reputation is mainly built with the satisfaction and trust of our customers.</p>
                        <p>Our service includes:</p>
                        <p>Obligation-free car valuation.</p>
                        <p>Car buying.</p>
                        <p>Handling paperwork of any automobile purchase we make.</p>
                        <p>We would love to help our customers in any way we can. </p>
                        <p>If you have any questions about our services or any inquiries, don’t hesitate to get in touch and ask. Our team will always be delighted to help... Feel free to email or call us, and we will make sure to answer as soon as possible.</p>
                        <h2>Our contact number:</h2>
                        <p>
                            <a href="tel:042284111"><i class="fa fa-phone"
                                                                       aria-hidden="true"></i>&nbsp;042284111
                            </a>

                        </p>

                        <h2>Our location:</h2>
                        <p>Dubai</p>
                        <p>Times Square Centre (Basement Level)</p>
                        <p>Sheikh Zayed Road,</p>
                        <p>Al Quoz</p>

                        <p>At We Buy Cars DXB, we can make selling your car as easy as it gets for you, and help you get the best value for your dearest asset.</p>
                        <h2>Contact Us</h2>
                        {% if form is defined and form is not null %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Errors:</span>
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row" ng-controller="ContactUsController as ctrl">
                    <div id="contact-us-form-container" class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <form name="contactUsForm" ng-submit="ctrl.submitForm(contactUsForm.$valid)" method="post"
                                  novalidate>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input ng-model="ctrl.name"
                                               ng-class="{'form-control-invalid': contactUsForm.$submitted && contactUsForm.name.$invalid }"
                                               name="name"
                                               required
                                               class="form-control"
                                               type="text"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="ctrl.emailAddress"
                                               ng-class="{'form-control-invalid': contactUsForm.$submitted && contactUsForm.emailAddress.$invalid }"
                                               name="emailAddress"
                                               required
                                               class="form-control"
                                               type="email"
                                               placeholder="Email Address">
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="ctrl.phoneNumber"
                                               ng-class="{'form-control-invalid': contactUsForm.$submitted && contactUsForm.phoneNumber.$invalid }"
                                               name="phoneNumber"
                                               ng-pattern="/^(0|((\+|00)?971))(2|3|4|6|7|9|50|52|54|55|56)\d{7}$/"
                                               required
                                               class="form-control"
                                               type="text"
                                               placeholder="Phone number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea ng-model="ctrl.vehicleModelType"
                                                  ng-class="{'form-control-invalid': contactUsForm.$submitted && contactUsForm.message.$invalid }"
                                                  name="message"
                                                  required
                                                  class="form-control"
                                                  placeholder="Message"
                                                  ng-minlength="20"
                                        ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg">Contact Us</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {#        <section>#}
        {#            <div id="contact-us-branches-container" class="container">#}
        {#                <div class="row">#}
        {#                    <div class="col-md-8 col-md-offset-2">#}
        {#                        <div class="row">#}
        {#                            {% for branch in getBranches() %}#}
        {#                                <div class="col-md-4">#}
        {#                                    <p class="p-somatic text-left">{{ branch.name }}</p>#}
        {#                                    <h4 class="text-left">#}
        {#                                        <a href="tel: {{ branch.phoneNumber }}"><i class="fa fa-phone"#}
        {#                                                                                                     aria-hidden="true"></i>&nbsp;{{ branch.phoneNumber }}#}
        {#                                        </a></h4>#}
        {#                                    <h4 class="text-left"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ branch.address|nl2br }}#}
        {#                                    </h4>#}
        {#                                    <h4 class="text-left"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;&nbsp;{{ branch.citySlug | citySlug }}#}
        {#                                    </h4>#}
        {#                                </div>#}

        {#                            {% endfor %}#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </section>#}
    </article>

    {% include 'WbcStaticBundle:partials:inline-valuation-form.html.twig' %}

{% endblock %}
