
/* Important styles */
#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 60px auto 10px;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #000000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}
#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}

/* menu appearance*/
#menu {
    color: #fff;
    padding: 10px;
    margin: auto;
    text-align: center;
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    width: 200px;
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #222;
    border-radius: 6%;
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}

ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
li a {
    padding: 5px;
    color: #bbb;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    color: #bbb;
}