{% extends '@WbcStatic/Default/valuationBase.html.twig' %}
{% block title %}<title>Get Your Free online Car Valuation | {{ site_title }}</title>{% endblock %}
{% block meta %}
    <meta name="description" content="Free car valuation on WeBuyCarsDxb.com. Know your used car value in few seconds and book your appointment now. Purchase guaranteed.">
{% endblock %}

{% block body %}

    {{ parent() }}

    {% if valuation.priceOnline > 0 %}
        {% include 'WbcStaticBundle:partials:valuation.html.twig' %}
    {% else %}
        {% include 'WbcStaticBundle:partials:no-valuation.html.twig' %}
    {% endif %}

    {% if form is defined and form is not null %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Errors:</span>
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <section ng-controller="ValuationStepFourController as ctrl"
             ng-init="ctrl.branches={{ getBranches()|serialize }}; ctrl.valuationId = '{{ valuation.id }}'">
        <div class="container">
            <div class="row visible-xs-block visible-sm-block">
                <div class="book-appointment-button-container col-md-5">
                    <button ng-click="ctrl.triggerFormSubmit()" class="btn btn-lg btn-primary">
                        Book an Appointment and Get Paid
                    </button>
                </div>
            </div>
            <div class="row">
                <div id="book-appointment-form" class="col-md-6 bg-grey">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="p-somatic color-dark">Book an Appointment</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <ng-cloak>
                                <form name="valuationStepFourForm"
                                      method="post"
                                      class="form-horizontal appointment-funnel" novalidate>
                                    <div class="form-group">
                                        <label id="pick-a-branch" class="col-md-5">Pick a Branch</label>

                                        <div class="col-md-7">
                                            <select ng-model="ctrl.selectedBranch"
                                                    ng-class="{'form-control-invalid': valuationStepFourForm.$submitted && valuationStepFourForm.selectedBranch.$invalid }"
                                                    class="form-control"
                                                    required
                                                    name="selectedBranch"
                                                    ng-options="branch.slug as branch.name for branch in ctrl.branches">
                                                <option value="">Choose a Branch</option>
                                            </select>
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': !valuationStepFourForm.$submitted || valuationStepFourForm.selectedBranch.$valid }">
                                                Select a Branch</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5">Pick a Date</label>
                                        <div class="col-md-7">
                                            <div uib-datepicker
                                                 class="angular-ui-datepicker"
                                                 ng-model="ctrl.appointmentDate"
                                                 name="appointmentDate"
                                                 required
                                                 ng-class="{'form-control-invalid': valuationStepFourForm.$submitted && valuationStepFourForm.appointmentDate.$invalid }"
                                                 datepicker-options="ctrl.options"></div>
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': !valuationStepFourForm.$submitted || valuationStepFourForm.appointmentDate.$valid }">
                                                Select an Appointment Date</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5">Pick a Timing</label>
                                        <div class="col-md-7">
                                            <select ng-model="ctrl.selectedBranchTiming" class="form-control"
                                                    ng-options="branchTiming.from as branchTiming.short_name for branchTiming in ctrl.branchTimings"
                                                    required
                                                    name="selectedBranchTiming"
                                                    ng-class="{'form-control-invalid': valuationStepFourForm.$submitted && valuationStepFourForm.selectedBranchTiming.$invalid, 'disabled': !ctrl.isTimingSlotsAvailable }">
                                                <option value="">Choose a Branch Timing</option>
                                            </select>
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': !valuationStepFourForm.$submitted || valuationStepFourForm.selectedBranchTiming.$valid }">
                                                Select a Timing</p>
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': ctrl.isTimingSlotsAvailable }">
                                                There are no available time slots for <br><strong ng-bind="ctrl.selectedBranchObject.name"></strong> on <br><strong ng-bind="ctrl.appointmentDate|date:'fullDate'"></strong>.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5">Email Address</label>
                                        <div class="col-md-7">
                                            <input ng-model="ctrl.emailAddress"
                                                   ng-class="{'form-control-invalid': valuationStepFourForm.$submitted && valuationStepFourForm.emailAddress.$invalid }"
                                                   required name="emailAddress" type="email" class="form-control"
                                                   placeholder="Type your email address">
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': !valuationStepFourForm.$submitted || valuationStepFourForm.emailAddress.$valid }">Type a valid Email Address</p>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="book-appointment-button-container col-md-10 col-md-offset-1">
                                        <button ng-click="ctrl.triggerFormSubmit()" class="btn btn-lg btn-primary">
                                            Book an Appointment and Get Paid
                                        </button>
                                    </div>
                                </div>
                            </ng-cloak>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="book-appointment-button-container col-md-4 col-md-offset-4">
                    <button ng-click="ctrl.triggerFormSubmit()" class="btn btn-lg btn-primary">Book an Appointment and Get Paid</button>
                </div>
            </div>
        </div>
        <div id='loading-container'>
            <div class='loading-content'>
                <div class='loading-image'></div>
                <p class='loading-message color-white'>Loading&hellip;</p>
            </div>
        </div>
    </section>

    {% include 'WbcStaticBundle:partials:section-text.html.twig' with {
    'title': 'Disclaimer',
    'content': '<p class="p-italic">We assume the below conditions while providing you with an
                                online valuation of your car:</p>
                            <ul>
                                <li class="p p-italic text-left">Your car has original paint, service records and no damage to the interior or mechanical parts.</li>
                                <li class="p p-italic text-left">Your car has never been used for private hire, or as a police vehicle, or for rental, or as a subject to insurance write off, or to learn driving.</li>
                                <li class="p p-italic text-left">Your car isn’t a non-runner.</li>
                                <li class="p p-italic text-left">In case the above assumptions do not apply during the time of inspection, the
                                    final offer may vary from the online valuation price.</li>
                            </ul>'} %}
    <script >
        document.addEventListener("DOMContentLoaded", function(event) {

            /* OR WITH jQuery*/
            $('#loading-container')
                .fadeOut('slow');
        });
    </script>

{% endblock %}


