{% extends '@WbcStatic/Default/base.html.twig' %}
{% block title %}<title>Get Your Free online Car Valuation | {{ site_title }}</title>{% endblock %}
{% block meta %}
    <meta name="description" content="Free car valuation on WeBuyCarsDxb.com. Know your used car value in few seconds and book your appointment now. Purchase guaranteed.">
{% endblock %}
{% block header %}
    <header>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Hooray, {{ appointment.name }}!</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}

    {{ parent() }}
    <span ng-controller="ValuationStepFiveController as ctrl" ng-init="ctrl.branchName = '{{ appointment.branch.name }}'; ctrl.latitude = {{ appointment.branch.latitude}}; ctrl.longitude = {{ appointment.branch.longitude }}; ctrl.sitePhone = '{{ site_phone }}'">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="p-lg">
                        The appointment for your <span class="text-bold">{{ appointment.vehicleYear }}&nbsp;{{ appointment.vehicleMake.name }}&nbsp;{{ appointment.vehicleModel.name }}</span><br>
                        at <span class="text-bold">{{ appointment.branch.name }},&nbsp;{{ appointment.branch.citySlug | citySlug }}<br></span>
                        on <span class="text-bold">{{ appointment.bookedAt|date('l jS F Y') }}</span><br>
                        at <span class="text-bold">{{ appointment.bookedAt|date('h:i a') }}</span> is done
                    </p>
                </div>
            </div>
            <div class="row hidden">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary">Edit the Appointment</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-default border-lg-dark-color">
                                <i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


        {% include 'WbcInventoryBundle:partials:horizontal-list.html.twig' %}

    {% include 'WbcStaticBundle:partials:section-text.html.twig' with {
    'title': 'Things to bring to your appointment',
    'content': '<ul>
                    <li class="text-left">Registration Card of Vehicle (Mulkiya)</li>
                    <li class="text-left">Driving License, Emirates ID, or Passport</li>
                    <li class="text-left">Your car service history booklet (if any)</li>
                    <li class="text-left">Original and spare car keys</li>
                    <li class="text-left">The Bank Release confirmation if your car is being financed by the bank</li>
                </ul>
                <p>If you have any questions, please feel free to call us on <a href="tel: {{ ctrl.sitePhone }}">{{ ctrl.sitePhone }}</a></p>
                '} %}
</span>
    <!-- Google Code for Booking Appointments Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 850022714;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "JzkICMCRgXIQuqKplQM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/850022714/?label=JzkICMCRgXIQuqKplQM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endblock %}